/*
Theme Name: JMEJPN
Theme URI: jmejpn.com
Description: JMEJPN Website Theme.
Author: Jonathan Glassey
Author URI: http://jono.glassey.co.nz
Version: 1.0
Tags: Japan, JMEJPN
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.videos-home {
    height: 830px;
}

.videos-home, .albums-home, .blogs-home {
    margin-top: 20px;
}

#front-page-banner {
    background-image: url('banner.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: 0px -103px;
    height: 383px;
}

@media (min-width: 768px) {
    .navbar {
        margin-bottom: 0;
        width: 100%;
    }
}

.nopadding {
    padding: 0;
}

@media (min-width: 768px) { 
    .blog {
        height: 178px;
    }
}

.featuredAlbum img{
    width: 100%;
}

.albumInfo a {
    color: black;
}

.albumInfo h4, .blogInfo h4 {
    font-weight: 900;
    margin-top: 0;
}

.featuredAlbum .albumInfo {
    /**position: absolute;**/
    bottom: 0;
    background: rgba(255,255,255,1.0);
    padding: 5px 5px;
    height: 90px;
}

.featuredVideo h4 {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255, 0.8);
    width: 100%;
    margin: 0;
    padding: 5px;
}

.video-list .featuredVideo h4 {
    width: 90%;
}

.featuredVideo {
    margin-bottom: 10px;
    margin-left: 15px;
}

#ytplayer {
    width: 100%;
    height: 500px;
}

.post-list ul {
    list-style: none;
    padding-left: 5px;
}

.gallery-icon img{
    width: 100%;
    height: auto;
}

.latest-video {
    width: 28%;
    /* margin-top: 70px; */
    position: absolute;
    /* margin-left: 40px; */
    margin-right: 40px;
    bottom: 30px;
    right: 0;
    height: 230px;
    overflow: hidden;
}

.latest-video img{
    width: 100%;
}



.videoTitle {
    padding: 0px 12px 1px 11px;
    color: black;
    
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: rgba(255, 5, 8, 0.90);
    width: 100%;
}


.videoTitle h4{
    color: black;
    font-weight: 600;
}

.videos-home h1 a, .albums-home h1 a, .blogs-home h1 a{
    padding: 0px 12px 1px 11px;
    color: black;
    font-weight: 600;
    position: absolute;
    top: 0;
    z-index: 10;
    background: rgba(255, 5, 8, 0.90);
    width: 100%;
}




.videos-home a {
    color: black;
}

.about {
    background: rgb(184, 184, 184);
}

body {
    background: rgb(245, 245, 245);
}
@media (min-width: 768px) {
    .navbar-brand img {
        width: 70%;
    }
}

@media (min-width: 768px) { 
    .navbar-header {
        width: 10%;
        height: 100%;
        
    }
    
    .navbar-header a {
        height: 100%;
    }
    
    .navbar-header a img {
        height: 90%;
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .navbar .container-fluid {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .navbar {
        background: rgba(229, 229, 229, 0.6);
        border: none;
        border-radius: 0;
        height: 84px;
        z-index: 10;
    }
}

@media (min-width: 768px) {
    .homenav {
        position: absolute;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-collapse{
        height: 100%;
    }
}

@media (max-width: 992px) {
    .featuredVideo img{
        width: 100%;
    }

    .videos-home {
        height: auto;
    }

    .featuredVideo {
        margin-left: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .videos-home {
        margin-top: 106px;

    }
}



.page_item a {
    padding-top: 30px !IMPORTANT;
    padding-bottom: 30px !IMPORTANT;
    color: black !IMPORTANT;
}

/*p.attachment img{
    width: 100%;
    height: auto;
}*/

.blogs-home .wrapper, .videos-home .wrapper,.albums-home  .wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #888888;
    float: left;
    width: 100%;
    padding-top: 30px;
    position: relative;
}

.mediaWrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #888888;
    float: left;
    width: 100%;
    position: relative;
    padding: 20px;
}

.mediaWrapper h2 {
    margin-top: 5px;

}

.webmedia {
    margin-top: 30px;
}

.videoTitle h4 {
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.attachment img{
    width: 100%;
    height: auto;
}

@media (max-width: 992px) { 
    .blog img {
        width: 100%;
    }
}

.gallery-prev {
    overflow: hidden;
    padding-bottom: 20px;
}

.gallery-prev img {
    width: 100%;
}